GETH_RPC_URL=YOUR_GETH_RRC
GETH_WS_URL=YOUR_WEB_SOCKET
GETH_API_KEY=YOUR_API_KEY
INDEXER_START_HEIGHT=BLOCK_START_HEIGHT
DEFRADB_KEYRING_SECRET=YOUR_DEFRADB_KEYRING_SECRET # make sure is the same if you are not starting fresh.
GETH_API_KEY_TYPE=x-api-key | x-goog-api-key
